/* Reset
==============================================================================*/

/* Eric Meyer's Reset v1.0 | 20080212 (meyerweb.com/eric/tools/css/reset)
------------------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

body
{line-height: 1;}

ol,ul
{list-style: none;}

blockquote,q
{quotes: none;}

blockquote:before,blockquote:after,q:before,q:after
{content: ''; content: none;}

:focus
{outline: 0;}

ins
{text-decoration: none;}

del
{text-decoration: line-through;}

table
{border-collapse: collapse; border-spacing: 0;}

/* End Reset
==============================================================================*/

/* Eric Meyer's Reset v1.0 | 20080212 (meyerweb.com/eric/tools/css/reset)
------------------------------------------------------------------------------*/



/* General
==============================================================================*/

/* Structural Containers
------------------------------------------------------------------------------*/


body 
{
   
	margin:0px;
	border:0px;
	padding:0px;
	font-size:14px;
	font-family:Helvetica, Arial, sans-serif;
	color:#58595B;
	background: #C3DCE4;
	background-repeat:repeat-x;
	letter-spacing: 110%;
	line-height: 120%;

}

#global_outer {
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	width:980px;
	background: #FFFFFF;
}

/* Content Containers
------------------------------------------------------------------------------*/




/* Links
------------------------------------------------------------------------------*/

a:link {color:#1C5973;}
a.nav:link {color:#1C5973;}
a:visited {color:#1C5973;}
a:hover {color:#77A6BA;}
a:active {color:#8ABEAF;}
a {text-decoration: none;}


/* Header Styles
------------------------------------------------------------------------------*/
h1 {font-size:24px; font-weight:bold; padding: 3px 5px 20px 5px}
h2 {font-size:18px; font-weight:bold; padding: 3px 5px 20px 5px}
h3 {font-size:16px; font-weight:bold; padding: 3px 5px 20px 5px}


/* Paragraph Styles
------------------------------------------------------------------------------*/

p  {padding: 10px 5px 20px 5px; }


/* Images Styles
------------------------------------------------------------------------------*/

img {
	border:0px;
}

/* Table Styles
------------------------------------------------------------------------------*/

td  {padding: 3px; vertical-align:top;}

/* List Styles
------------------------------------------------------------------------------*/

ul  {padding: 5px;}
