.interact_leaderpic {
	float:left;
	height:250px;
	width:200px;
	text-align:center;
}

.interact_messagemain {
	float:left;
	width:530px;
}

.interact_pbubbletop {
	width:530px;
	height:15px;
	background-image:url('/images/interact/pbubbletop.jpg');
}

.interact_pbubblebottom {
	height:15px;
	width:530px;
	background-image:url('/images/interact/pbubblebottom.jpg');
}

.interact_lbubbletop {
	width:530px;
	height:15px;
	background-image:url('/images/interact/lbubbletop.jpg');
}

.interact_lbubblebottom {
	height:15px;
	width:530px;
	background-image:url('/images/interact/lbubblebottom.jpg');
}

.interact_lbubblemain {
	font-size:17px;
	position:relative;
    padding: 5px 55px 5px 55px;
	min-height:150px;
	width:430px;
	background-image:url('/images/interact/lbubblemain.jpg');
}

.interact_lbubbletail {
	position:absolute;
	left:0px;
	top:0px;
}

.interact_pbubblemain {
	font-size:17px;
	position:relative;
    padding: 5px 55px 5px 55px;
	min-height:150px;
	width:430px;
	background-image:url('/images/interact/pbubblemain.jpg');
}

.interact_pbubbletail {
	position:absolute;
	left:480px;
	top:0px;
}

.interact_personpic {
	float:left;
	height:250px;
	width:200px;
	text-align:center;
}


.interact_messagespacer {
	clear:both;
	height:40px;
}


.interact_date
{
    font-size:11px;  
    padding-right:60px;
    float:right;
}

.interact_edit
{
    font-size:12px;  
    padding-left:55px;
}

.interact_approve
{
    width: 20px;
    vertical-align:sub;
}

.interact_private_badge
{
    float: right;
}
